<ion-view>
    <ion-nav-title>
        {{::('TAB_CATEGORIES_TITLE_PRODUCT' | translate) }}
    </ion-nav-title>

    <ion-content>
        <ion-header-bar ng-if="titleSub" class="bar bar-subheader" ng-bind-html="'TAB_CATEGORIES_SUBTITLE' | translate:({categoriesTree: titleSub })"></ion-header-bar>
        <ion-list ng-show="products">
            <ion-item class="item-avatar item-icon-right" ng-repeat="product in products" type="item-text-wrap" ng-click="openModal(product)">
                <img ng-src="{{product.featured_src}}" />
                <p ng-bind-html="product.title" style="white-space:initial;"></p>
                <p ng-if="product.categories" ng-bind-html="product.categories[0]" style="white-space:initial;"></p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h3 ng-hide="products" ng-class="{null: !RSempty}" translate>{{'ALERT_RECORD_NULL'}}</h3>
        <ion-infinite-scroll ng-if="able2Loadmore"
                             on-infinite="loadMore()"
                             distance="1%"
                             immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>