<div class="modal">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider item-icon-right">
                <p ng-bind-html="detail.title"></p>
                <i ng-class="{'icon positive ion-plus-round': ! detail.bookmarked, 'icon assertive ion-heart': detail.bookmarked}" ng-click="triggerBookmark(detail)"></i>
            </div>
            <div class="item item-image">
                <img class="full-image" ng-if="detailImg.length == 1" ng-src="{{detailImg[0].src}}">
                <ion-slide-box ng-if="detailImg.length > 1">
                    <ion-slide ng-repeat="image in detailImg">
                        <img class="full-image" ng-src="{{image.src}}">
                    </ion-slide>
                </ion-slide-box>
            </div>
            <!-- TODO: Temporary remove tables inside the content //2016JAN20 -->
            <div class="item item-body" ng-if="detail.description" ng-bind-html="detail.description | partRemove:'a' "></div>
            <div class="item item-body" ng-if="detail.short_description" ng-bind-html="detail.short_description | partRemove:'a' "> </div>
            <button class="button button-full button-calm no-margin" ng-click="closeModal()" translate>{{'MODAL_PRODUCTDETAIL_BUTTON_CLOSE'}}</button>
        </div>
    </ion-content>
</div>