<ion-view>
    <ion-nav-title>
        {{::product.title}}
    </ion-nav-title>
    <ion-content class="padding">
        <div class="card product">
            <div class="item post-title">
                <p ng-bind-html="product.title"></p>
            </div>
            <div class="item">
                <img ng-if="productImg.length == 1" ng-src="{{productImg[0].src}}" style="max-width: 100%;">
                <ion-slide-box ng-if="productImg.length > 1">
                    <ion-slide ng-repeat="image in productImg">
                        <img ng-src="{{image.src}}" style="max-width: 100%;">
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="item item-body" ng-if="product.description" ng-bind-html="product.description"></div>
            <div class="item item-body" ng-if="product.short_description" ng-bind-html="product.short_description"></div>
        </div>
    </ion-content>
</ion-view>